<h1>Recipes#index</h1>
<p>Find me in app/views/recipes/index.html.erb</p>

<%= form_tag(ingredients_path, remote: true) do %>
	<%= label_tag "Search Ingredients" %>
	<%= text_field_tag :query %>
	<%= submit_tag "submit" %>
<% end %>

<div id="searchResults">
</div>