<h1>Recipes#show</h1>
<p>Find me in app/views/recipes/show.html.erb</p>
<div class="container-fluid">
	<div class="row">
	<h3 class="title">Chicken Stir-Fry</h3>
		<div class="col-md-6"><%= image_tag("chicken_stir_fry.jpeg") %></div>
		<div class="col-md-6"><h3 class="title">Ingredient List</h3>
			<ul class="recipe_list_items">
				<p>
					<input type="checkbox" value="2 tablespoons dark sesame oil, divided" data-type="list-item" id="Ingredient00">
					<label class="o-Ingredients__a-ListItemText" for="Ingredient00">2 tablespoons dark sesame oil, divided</label>
				</p>
				<p>
					<input type="checkbox" value="2 garlic cloves, finely minced" data-type="list-item" id="Ingredient01">
					<label class="o-Ingredients__a-ListItemText" for="Ingredient01">2 garlic cloves, finely minced</label>
				</p>
				<p>
					<input type="checkbox" value="2 pounds chicken breasts, skinless and boneless" data-type="list-item" id="Ingredient02">
					<label class="o-Ingredients__a-ListItemText" for="Ingredient02">2 pounds chicken breasts, skinless and boneless</label>
				</p>
				<p>
					<input type="checkbox" value="1 head broccoli, stems removed" data-type="list-item" id="Ingredient03">
					<label class="o-Ingredients__a-ListItemText" for="Ingredient03">1 head broccoli, stems removed</label>
				</p>
				<p>
					<input type="checkbox" value="1 dozen mushrooms, sliced" data-type="list-item" id="Ingredient04">
					<label class="o-Ingredients__a-ListItemText" for="Ingredient04">1 dozen mushrooms, sliced</label>
				</p>
				<p>
					<input type="checkbox" value="3 carrots, peeled and julienned" data-type="list-item" id="Ingredient05">
					<label class="o-Ingredients__a-ListItemText" for="Ingredient05">3 carrots, peeled and julienned</label>
				</p>
				<p>
					<input type="checkbox" value="1/4 pound green beans, diced" data-type="list-item" id="Ingredient06">
					<label class="o-Ingredients__a-ListItemText" for="Ingredient06">1/4 pound green beans, diced</label>
				</p>
				<p>
					<input type="checkbox" value="1 head bok choy, chopped" data-type="list-item" id="Ingredient07">
					<label class="o-Ingredients__a-ListItemText" for="Ingredient07">1 head bok choy, chopped</label>
				</p>
				<p>
					<input type="checkbox" value="2 to 3 tablespoons teriyaki sauce" data-type="list-item" id="Ingredient08">
					<label class="o-Ingredients__a-ListItemText" for="Ingredient08">2 to 3 tablespoons teriyaki sauce</label>
				</p>
			</ul>
		</div>
	</div>

	<div class="row">
	 	<div class="col-md-8">
			<div class="recipe_instructions">
				<p>Instructions:</p>
				<p>Heat 1 tablespoon oil in a saute pan over medium heat. Add garlic and stir. Place the chicken in the pan and brown 4 minutes on each side. Remove from pan, slice into strips, set aside.</p>
				<p>Heat remaining tablespoon of oil in a wok over high heat. Add the vegetables and teriyaki sauce. Stir-fry quickly until the vegetables begin to soften. Add the chicken strips, combine well and continue to cook for 2 to 3 minutes. Serve immediately.</p>
			</div>
	  	</div>
	</div>
</div>
