<header id="header">
	<div id="header_content">
		<h1>Skip that grocery store stop<br> 
		on the way home.</h1>
		<hr>
		<h4 class="fontsans_big"><strong>We'll bring you what you need<br> 
		 -- no subscription necessary.</strong></h4>
	</div>
</header>
		
	<section class="content-padding recipes">
	      <div class="head align-center">
	        <h4 class="margin0">Pick one of our 30 minute recipes, place your grocery order, and we'll be at your door with your groceries in no time.
	        </h4>
	      </div>
	</section>

	<div class="main_buttons">
  		<button type="button" class="btn btn-outline btn-lg"><%= link_to 'View Recipes', recipes_path %></button>

  		<button type="button" class="btn btn-outline btn-lg">Career Opportunites</button>
	</div>

	<section class="mission_full">
		<h1> We know. You're tired, and just want to go home after work. But you need to eat...</h1>
			<p> Do you just go home and then order pizza? Do you order noodles? Do you suck it up and go to the grocery store and stand in front of the meat section in a daze because you're brain is too tired to make any decisions?</p>
				
			<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>







	</section>
