<header id="header">
	<div id="header_content">
		<h1>Skip that grocery store stop<br> 
		on the way home.</h1>
		<h4 class="fontsans_big"><strong>We'll bring you what you need
		<br> 
		 -- no subscription necessary.</strong></h4>
	</div>
</header>
		
	<section class="content-padding recipes">
	      <div class="head align-center">
	        <h4 class="margin0">Pick one of our 30 minute recipes, place your grocery order, and we'll be at your door with your groceries in no time.
	        </h4>
	      </div>
	</section>

	<div class="main_buttons">

  		<div>View Recipes</div>
  		<div>Career/div>

  		<button type="button" class="btn btn-outline btn-lg">Career Opportunites</button>
	</div>

	<section class="mission_full">
		<h3> We know. You're tired, and just want to go home after work.<br>
			But you need to eat...</h3><br>

			<p> So do you just go home anyway and worry about it when you get there? Should you order pizza? Chinese? What if you just want a good old fashioned healthy-ish meal?</p><br>

			<p>Do you suck it up and go to the grocery store and wander around in a post-work daze while you try to come up with an idea of what you should make. Do you stand in front of the meat section zoned out trying to calculate how much time it will take to cook any of these things...</p><br>
				
			<p>
			Let us help you. First, yes, just go home! When you get there, pull us up and browse our featured seasonal recipes that are 30 minutes or less to prepare. Then ask yourself: Do any of these look good?</p><br>

			<p>Then ask yourself, at the very least will any of these things feed my human body physical food AND allow me to not leave the house?</p><br>

			<p>If yes, just use your finger to place your order. Either pick all the items listed for that recipe, or only pick the ones you need, and we'll bring what you need to your waiting, hungry-hippo hands.</p><br>

			<p>Oh wait, do you need milk (etc.) for the morning...? Just add it to your digital grocery list and we'll grab that too. 
			</p><br>







	</section>
