

<div class="drivers_settings">
	 <ul class="nav nav-tabs" id="myTab" role="tablist">
	    <li class="nav-item">
	      <a class="nav-link active" data-toggle="tab" href="#not_ready" role="tab" aria-controls="not_ready">Not Ready</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" data-toggle="tab" href="#ready_up" role="tab" aria-controls="ready_up">Ready Up</a>
	    </li>
	  
	  	<li class="nav-item">
	      <a class="nav-link" data-toggle="tab" href="#edit_profile" role="tab" aria-controls="edit_profile">Edit Profile</a>
	    </li>
	   </ul>
	  <div class="tab-content">
	    <div class="tab-pane active" id="not_ready" role="tabpanel">I'm not Ready</div>
	    <div class="tab-pane" id="ready_up" role="tabpanel">I'm so ready</div>
	    <div class="tab-pane" id="edit_profile" role="tabpanel"><%= render 'drivers/registrations/edit' %></div>
	  </div>
	  <script>
	    $(function () {
	      $('#myTab a:first').tab('show')
	    })
	  </script>

</div>
<div class="drivers_preferances">

</div>
	



<div
<h1>Drivers#show</h1>
 
 <h3><%= @driver.email %></h3>
 <h3><%= @driver.first_name %>
 <%= @driver.last_name %></h3>


Edit
 