// Place all the styles related to the drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.drivers_settings, .users_settings {
	background-color: lightgrey;
	height: 1100px;
	width: 600px;
	float: right;
	display: inline-block;
	margin-right: 80px;
}

.driver_info {
	display: inline-block;
}
.hidden {
	display: none;
}
