// Place all the styles related to the drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.drivers_settings, .users_settings {
	background-color: #C8FAEF;
	height: 1100px;
	width: 600px;
	float: right; 
	display: inline-block;
	margin-right: 80px;
}

.driver_info, .user_info{
	display: inline-block;
	background-color: #C8FAEF;
	width: 400px;
	height: 500px;
	text-align: center;
	margin-left: 40px;
}
.hidden {
	display: none;
}
.driver_show_page, .user_show_page{
	padding-top: -50px;
	height: 1100px;
	width: 100%;
}
.notice, .alert{
	padding: 0px;
}
.user_nav, .driver_nav {
	background-color: #27AD90;
}
#not_ready {
	height: 700px;
	width:300px;
}
