// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	height: 100%;
    line-height: 1.5;
    font-family: 'Arvo';

}

.nav-item {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 25px 0 0 20px;
    position: relative;
}

//Hero image at top of home page
#home_header {
    background-image: url(grocery_delivery.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-size: cover!important;
    height: 600px;
}


    #home_header::before {
    	content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: rgba(100,96,102,0.5);
    }

    #header_content{
    	text-align: center;

    	font-family: 'Arvo';

        padding: 6rem 0;
        color: rgba(255,255,255,1);
        position: relative;
        z-index: 10;
        line-height: 2.0;
    }

    .h1, h1 {
        font-size: 2.5rem;
        padding: 40px;
        line-height: 2.5;
    }

    .fontsans_big {
    	padding: 30px;
        line-height: 2.0;
    }



//
.content-padding .recipes {
	padding: 3rem 0 1rem 0;
}

.row {
	width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 73.75em;
}

.margin0 {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 60px;
    line-height: 2.0;
}

.button_wrapper {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
 

    .main_buttons {
        padding: 20px;
    }
}


#recipe_button {
    display: inline-flex;
    justify-content: center;
    font-family: 'Grand Hotel';
    font-size: 1.4em;
    // background-color: grey; 
    border: 2px solid #818685;
    border-radius: 6px;
    color: #3c393d;
    padding: 60px;
    width: 300px;
    height: 170px;
    text-align: center;
    margin-right: 100px;
}

#career_opps {
    display: inline-flex;
    justify-content: center;
    font-family: 'Grand Hotel';
    font-size: 1.4em;
    background: none;
    border: 2px solid #818685;
    border-radius: 6px;
    color: #3c393d;
    padding: 60px;
    width: 300px;
    height: 170px;
}


.mission_full{
	background-color: #C8FAEF;
	margin: 0;
	font-size: 14pt;
    line-height: 2.0;
    margin: 40px;

}

.mission_full h3 {
	width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

}

.mission_full p {
	width: 50%;
	margin: auto;
}

#sectiontional_image {
    background-position: center;
}

#job_opp {
    width: 75%;
    margin: auto;
    display: flex;
    align-items: baseline;

    p{
        padding-left: 20px;
        padding-right: 20px;
        line-height: 2.0;
    }
}


blockquote {
    text-align: center;
    font-size: 18pt;
}