// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe_show_body {
	background-color: #C8FAEF;
	width: 100%;
}

//Recipes#index styles  
.index_container{
	display: inline-flex;
	background-color: #C8FAEF;
}
#recipe_index_photo {
	background-image: url(fruit_veg_grid.jpg);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: cover;
    height: 600px;
}



#searchResults {
	border: double 4px black;
	background-color: white;
}



//recipes#show styles here
.show_container{
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #C8FAEF;
	width: 100%;

	.image_recipe_title{
		align-content: flex-start;

	}

	.ingredients_list {
		align-content: flex-start;
	}
}

	#instructions_box {
		width: 75%;
		padding: 20px;
	}







