// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe_show_body {
	background-color: #C8FAEF;
	width: 100%;
}

//Recipes#index styles  
.index_container{
	display: inline-flex;

	h1 {
		text-align: center;
		align-content: center;
		line-height: 2.0em;
	}

	#recipe_index_photo {
		background-image: url(fruit_veg_grid.jpg);
	    background-repeat: no-repeat;
	    background-position: center center;
	    position: relative;
	    background-size: cover!important;
	    height: 600px;
	}

	.search_form {
		flex-direction: column;
		justify-content: center;
	}

		#search_ing {
			margin: 5rem auto 0 auto;
	    	background: rgba(255,255,255,1);
	    	border-radius: 40px;
	    	padding: 7px 20px;
	    	align-content: space-around;
		}

		#search_recipes {
			margin: 5rem auto 0 auto;
	    	background: rgba(255,255,255,1);
	    	border-radius: 40px;
	    	padding: 7px 20px;
		}
	}

#searchResults {
	border: double 4px black;
}



//recipes#show styles here
.show_container{
	display: inline-flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #C8FAEF;
	width: 100%;

	.image_recipe_title{
		align-content: flex-start;

	}

	.ingredients_list {
		align-content: flex-start;
	}
}

	#instructions_box {
		width: 75%;
		padding: 20px;
	}
