// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.index_container{
	display: inline-flex;
	background-color: #C8FAEF;
	width: 100%;

	h1 {
		text-align: center;
		align-content: center;
	}

	#recipe_index_photo {
		background-image: url(fruit_veg_grid.jpg);
	    background-repeat: no-repeat;
	    background-position: center center;
	    position: relative;
	    background-size: cover!important;
	    height: 600px;
	}

	.search_form{
		flex-direction: column;
	}

	#search_ing{
		margin: 5rem auto 0 auto;
    	background: rgba(255,255,255,1);
    	border-radius: 40px;
    	padding: 7px 20px;
	}

	#search_recipes {
		margin: 5rem auto 0 auto;
    	background: rgba(255,255,255,1);
    	border-radius: 40px;
    	padding: 7px 20px;
	}
}

#searchResults {
	border: double 4px black;
}